<form action="{{actionFrom}}">
<div class="row">
<div class="col-lg-5">
		<div class="form-group"> 
		<label>Nombre</label>
		<input 
		class="form-control" 
		type="text" 
		required="true" 
		maxlength="70" 
		name="producto.nombre" 
		ng-model = "producto.nombre"
		>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="form-group">
         <label>Cod Contable</label>
         <input 
         class="form-control" 
         placeholder="00000000000000000000" 
         type="text" 
         required="true" 
         maxlength="20" 
         name="producto.cod_contable" 
         ng-model="producto.cod_contable"
         >
      </div>		
	</div>
	<div class="col-lg-4">
		<div class="form-group">
         <label>Cod ICE</label>
         <input 
         class="form-control" 
         type="text" 
         placeholder="0000-00-000000-000-000000-00-000-000000" 
         required="true" 
         maxlength="39" 
         name="producto.cod_ice" 
         ng-model="producto.cod_ice"
         >
      </div>		
	</div>
</div>
<div class="row">
	<div class="col-lg-5">
	<div class="form-group">
		<label>Proveedor</label>
		<input
		class="form-control" 
		type="text"
		required="true" 
		name="producto.proveedor"
		ng-model="producto.proveedor"
		>
	</div>
	</div>
	<div class="col-lg-3">
	<div class="form-group">
		<label>ID Proveedor</label>
		<input 
		class="form-control" 
		disabled="true" 
		type="text" 
		name="producto.identificacion_proveedor"
		ng-model="producto.identificacion_proveedor"
		value="{[producto.identificacion_proveedor]}" 
		>
	</div>
	</div>
	<div class="col-lg-4">
	<div class="form-group">
		<label>Pais de Origen</label>
		<input 
		class="form-control" 
		type="text" 
		required="true" 
		name="producto.pais_origen"
		ng-model="producto.pais_origen"
		>
	</div>
	</div>
</div>
<div class="row">
<div class="col-lg-2">
	<div class="form-group">
		<label>Unds (x Caja)</label>
		<input 
		class="form-control" 
		type="number"
		step="1"
		required="true" 
		name="producto.cantidad_unidad"
		ng-model="producto.cantidad_unidad">
		
	</div>
</div>
<div class="col-lg-2">
	<div class="form-group">
		<label>Capacidad (ml)</label>
		<input 
		class="form-control" 
		required="true" 
		type="number"
		step="1" 
		name="producto.contenidoml"
		ng-model="producto.contenidoml">
	</div>
</div>
<div class="col-lg-2">
	<div class="form-group">
		<label>Grado Alcohólico</label>
		<input 
		class="form-control" 
		required="true" 
		type="number"
		step="0.01" 
		name="producto.grado_alcoholico"
		ng-model="producto.grado_alcoholico">
	</div>
</div>
<div class="col-lg-3">
	<div class="form-group">
		<label>Estado</label>
		<select
		class="form-control" 
		required="true" 
		name="producto.estado"
		ng-model="producto.estado"
		>
		<option>
			<option value="" disabled selected>Seleccione ...</option>
			<option value="1">ACTIVO</option>
			<option value="0">INACTIVO</option>
		</option>
		</select>
	</div>
</div>
<div class="col-lg-3">
	<div class="form-group">
		<label>Tipo Custodia</label>
		<select
		class="form-control" 
		name=""
		ng-model="">
		<option value="" disabled selected>Seleccione ...</option>
		<option value="0">NORMAL</option>
		<option value="1">DOBLE</option>
		</select>
	</div>
</div>
</div>
<div class="row">
	   <div class="col-lg-8">
<div class="form-group">
            <label>Notas</label>
            <textarea 
            class="form-control"
            maxlength="120" 
            name= "producto.notas" 
            ng-model= "producto.notas" 
            rows="2"></textarea>
         </div>
   </div> 
</div>
<div class="row">
      <div class="col-lg-12">
       <input 
         type="hidden" 
         name="producto.id_user"
         ng-model="producto.id_user"
         value="{[producto.id_user]}">
   <input 
         type="hidden" 
         name="producto.last_update"
         ng-model="producto.last_update"
         value="0000-00-00 00:00:00">

         <button type="submit" class="btn btn-default">
         <span class="fa fa-save fa-fw"></span>
         Guardar Registro</button>
         <button type="reset" class="btn btn-default">
         <span class="fa fa-refresh fa-fw"></span>
         Limpiar Formulario</button>
         <a class="btn btn-info pull-right">
         <span class="fa fa-warning fa-fw"></span>
         Cancelar </a>
      </div>
</div>
	
</form>