<form ng-submit="validateOrder(formdata)">
	<div class="row">
		<div class="col-md-2">
			<div class="form-group">
				<label>Nro Pedido</label>
				<input 
				class="form-control" 
				type="text"
				required="true"
				name="nro_pedido"
				ng-model ="formdata.pedido.nro_pedido"
				placeholder="000-00" 
				maxlength="6" 
				minlength="6" 
				>
			</div>
		</div>

		<div class="col-md-2">
			<div class="form-group">
				<label>Régimen</label>
				<select
				class="form-control" 
				required="true" 
				name="regimen"
				ng-model="formdata.pedido.regimen"
				>
				<option value="" disabled selected>Seleccione ...</option>
				<option value="70">Régimen 70</option>
				<option value="10">Régimen 10</option>
				</select>
			</div>
		</div>

				<div class="col-md-2">
			<label>Incoterm</label>
				<span class="label label-info">{{incotermName}}</span>
			<button 
			data-toggle="modal" 
			data-target="#myModal" 
			type="button" 
			class="form-control btn btn-default btn-sm" 
			ng-click="getIncoterms()">
				<span class="fa fa-plus fa-fw"> </span>Añadir
			</button>
		</div>
		<div class="col-md-3">
		<label>País Origen</label>
				<input
				class="form-control" 
				type="text"
				required="true"
				name = "pais_origen"
				ng-model = "formdata.pedido.pais_origen"
				readonly
				</select>
	</div>
	<div class="col-md-3">
					<div class="form-group">
				<label>Ciudad Origen</label>
				<input 
				class="form-control" 
				type="text"
				required="true"
				name="pais_ciudad_origen"
				ng-model = "formdata.pedido.ciudad_origen"
				readonly
				>
			</div>
			</div>
 

</div>
<div class="row">
	<div class="col-md-2">
					<div class="form-group">
				<label>Flete <span class="label label-warning">Provisión</span></label>
				<input 
				class="form-control" 
				type="number"
				required="true"
				step="0.01" 
				string-to-number
				placeholder="0.00" 
				ng-model = "formdata.helper.gasto_flete"
				>
			</div>
	</div>
			<div class="col-md-2">
			<div class="form-group">
				<label>Gst Origen <span class="label label-warning">Provisión</span></label>
				<input 
				class="form-control" 
				type="number"
				string-to-number
				required="true"
				step="0.01" 
				placeholder="0.00" 
				ng-model = "formdata.helper.gasto_origen"
				name="antes_fob_provisionado"				
				>
			</div>
		</div>
	  	<div class="col-md-2">
			<div class="form-group">
				<label>Seguro <span class="label label-info">SENAE</span></label>
				<input 
				class="form-control" 
				type="number"
				step="0.01" 
				placeholder="0.00" 
				required="true"
				name="seguro_aduana"
				ng-model ="formdata.pedido.seguro_aduana"
				>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label>Flete <span class="label label-info">SENAE</span></label>
				<input 
				class="form-control" 
				type="number"
				required="true"
				step="0.01" 
				placeholder="0.00" 
				name="flete_aduana"
				ng-model = "formdata.pedido.flete_aduana"
				>
			</div>
		</div>
<div class="col-md-3">
				<label>Fecha Arribo {{parent.checkOut}}<span class="label label-info">BODEGA</span></label>
				<div class="input-group date" data-provide="datepicker">
				<input 
				type="text" 
				ng-model="formdata.pedido.fecha_arribo"
				class="form-control" 
				id="fecha_arribo" 
				required="required" 
				class="bootstrap-datepicker" 
					>
					<div class="input-group-addon">
        		<span class="glyphicon glyphicon-th"></span>
    			</div>
				</div>
			</div>
</div>

<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Comentarios</label>
				<textarea 
				rows="2" 
				maxlength="250" 
				ng-model="formdata.pedido.comentarios" 
				class="form-control">
				</textarea>
			</div>
		</div>
		</div>
</div>
   <div class="row">
      <div class="col-md-12">
      	<hr>
         <button type="submit" >
         <span class="fa fa-save fa-fw"></span>
         Guardar Registro</button>
         <button ng-click = "goBack()">
         <span class="fa fa-list fa-fw"></span>
         Regresar Lista</button>
       </div>
   </div>
 </div>
</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <div class="row" style="background-color: #efefef; padding: 5px 5px 5px">
            <div class="col-sm-8">
               <h4 class="modal-title" id="myModalLabel">SELECCIONE UN INCOTERM</h4>
            </div>
            <div class="col-sm-4">
               <span  class="pull-right" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true" class="btn btn-danger btn-sm">X</span>
                  </span>
            </div>
         </div>
      </div>
      <div class="modal-body">
       	<form>
       <div class="row">
       	<div class="col-sm-12">
       			<div class="form-group">
						<label>Seleccione un Incoterm</label>
						<select
						class="form-control" 
						required="true" 
						ng-model = "incotermName"
						ng-change = "getIncotermsCountries(incotermName)"
						>
						<option value="" disabled selected>Seleccione ...</option>
						<option 
						ng-repeat = "(key, value) in incoterms.incoterm.data" 
						value="{{value.incoterms}}">
						{{value.incoterms}}
						</option>
						</select>
					</div>
       </div>
       </div>

       <div class="row" ng-show = "showIncoterms.countries">
       	<div class="col-sm-12">
       			<div class="form-group">
						<label>Pais de Origen</label>
						<select
						class="form-control" 
						required="true" 
						ng-model = "country"
						ng-change ="getIncotermsCities(incotermName, country)"
						>
						<option value="" disabled selected>Seleccione ...</option>
						<option ng-repeat = "(key, value) in incoterms.countries.data" value="{{value.pais}}">{{value.pais}}</option>
						</select>
					</div>
       </div>
       </div>

        <div class="row" ng-show = "showIncoterms.cities">
       	<div class="col-sm-12">
       			<div class="form-group">
						<label>Ciudad de Origen</label>
						<select
						class="form-control" 
						required="true"
						ng-model = "city"
						ng-change = "getIncotermParam(incotermName ,country, city)"
						>
						<option value="" disabled selected>Seleccione ...</option>
						<option ng-repeat = "(key, value) in incoterms.cities.data" value="{{value.ciudad}}">{{value.ciudad}}</option>
						</select>
					</div>

					<div class="row" ng-show = "showIncoterms.params">
						<div class="col-sm-12">
							<table class="table table-condensed table-hover table-condensed table-bordered table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>tipo</th>
										<th>tarifa</th>
										<th>comentarios</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "(key, value) in incoterms.param.data">
										<td>{{value.id_incoterm}}</td>
										<td>{{value.tipo}}</td>
										<td>{{value.tarifa | currency }}</td>
										<td>{{value.comentarios}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row" ng-show = "showIncoterms.button">
						<div class="col-sm-12">
							<button 
							type="button" 
							data-dismiss="modal"
							class="btn btn-primary" 
							ng-click = "putIncoterms(incoterms.param)"
							style="width: 100%">
							Aplicar Incoterm
						</button>
						</div>
					</div>
       </div>
       </div>
       	</form>
      </div>
    </div>
  </div>
</div>
