<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="table-responsive" style="heigth:800px">
		<table class="table table-striped table-hover table-condensed table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Pedido</th>
					<th>Regimen</th>
					<th>Proveedor</th>
					<th>Pais</th>
					<th>Puerto</th>				
					<th>Moneda</th>
					<th>Valor</th>
					<th>Seg Aduana</th>
					<th>Flete Aduana</th>		
					<th>Status</th>		
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td>10</td>
					<td>Concha y Toro</td>
					<td>Italia</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr><tr>
					<td>0</td>
					<td>10</td>
					<td>Concha y Toro</td>
					<td>Italia</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr><tr>
					<td>0</td>
					<td>10</td>
					<td>Concha y Toro</td>
					<td>Italia</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr><tr>
					<td>0</td>
					<td>10</td>
					<td>Concha y Toro</td>
					<td>Italia</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr><tr>
					<td>0</td>
					<td>10</td>
					<td>Concha y Toro</td>
					<td>Italia</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr><tr>
					<td>0</td>
					<td>10</td>
					<td>Concha y Toro</td>
					<td>Italia</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr><tr>
					<td>0</td>
					<td>10</td>
					<td>Concha y Toro</td>
					<td>Italia</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr><tr>
					<td>0</td>
					<td>10</td>
					<td>Concha y Toro</td>
					<td>Italia</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr><tr>
					<td>0</td>
					<td>10</td>
					<td>Concha y Toro</td>
					<td>Italia</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-12 text-right">
		<a href="{{ rute_url }}importar/" class="btn btn-sm btn-default"> <span class="fa fa-arrow-left"></span> Volver A Asistente</a>
	</div>
</div>