<div class="row text-danger">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">{{ order.nro_pedido }} R-{{ order.regimen }} {{ order.incoterm }}</div>
    <div class="col-sm-5"></div>
</div>
<div class="row">
    <div class="col-sm-4 text-tittle-2">Gastos Iniciales</div>
    <div class="col-sm-4 text-tittle-2">Parciales</div>
    <div class="col-sm-4 text-tittle-2">Facturas Productos</div>
</div>
<div class="row">
    <div class="col-sm-4">
    <table class="table table-bordered table-condensed table-striped">
        <thead>
        <tr>
        <th>#</th>
        <th>Concepto</th>
        <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Flete</td>
            <td>838380</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="col-sm-4">
      <table class="table table-bordered table-condensed table-striped">
        <thead>
        <tr>
        <th>#</th>
        <th>Concepto</th>
        <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Flete</td>
            <td>838380</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="col-sm-4">
      <table class="table table-bordered table-condensed table-striped">
        <thead>
        <tr>
        <th>#</th>
        <th>Concepto</th>
        <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Flete</td>
            <td>838380</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>