        </div>
        <!-- /#page-wrapper -->
    </div>
</body>
<script type="text/javascript">

$('#selector-fecha').datepicker({
    language: "es",
    daysOfWeekHighlighted: "1"
});
</script>
<!--autocomplete-->
<!-- Metis Menu Plugin JavaScript -->
<script src="{{base_url}}vendor/metisMenu/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{base_url}}js/sb-admin-2.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{base_url}}vendor/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

	$('.fecha').datepicker({
    format: "dd/mm/yyyy",
    maxViewMode: 3,
    todayBtn: "linked",
    language: "es",
    autoclose: true,
    todayHighlight: true,
    daysOfWeekHighlighted: "0,6",    
});

</script>

<script type="text/javascript">
//Formateo de fechas
$('.fecha').mask('99/99/9999');
$('.fecha').attr('placeholder', 'dd/mm/yyyy');
</script>

<script>
    $('input').blur(function() {
        var pass = $('input[name=password]').val();
        var repass = $('input[name=password2]').val();
        if(($('input[name=password]').val().length == 0) || ($('input[name=password2]').val().length == 0)){
            $('#password').addClass('has-error');
        }
        else if (pass != repass) {
            $('#password').addClass('danger');
            $('#password2').addClass('danger');
        }
        else {
            $('#password').removeClass().addClass('success');
            $('#password2').removeClass().addClass('success');
        }
    });
    </script>
</html>