        </div>
        <!-- /#page-wrapper -->
    </div>
</body>
<script type="text/javascript">

$('#selector-fecha').datepicker({
    language: "es",
    daysOfWeekHighlighted: "1"
});
</script>
<!--autocomplete-->
<!-- Metis Menu Plugin JavaScript -->
<script src="{{base_url}}vendor/metisMenu/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{base_url}}js/sb-admin-2.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{base_url}}vendor/bootstrap/js/bootstrap.min.js">
</script>

<script type="text/javascript">

	$('.fecha').datepicker({
    format: "dd/mm/yyyy",
    maxViewMode: 3,
    todayBtn: "linked",
    language: "es",
    autoclose: true,
    todayHighlight: true,
    daysOfWeekHighlighted: "0,6",    
});

</script>
</html>