
<small> &copy; Todos los Derechos reservados Importadora Cordovez 2017 <br>
            Desarrollado por Eduardo Villota <a href="mailto:eduardouio7@gmail.com">eduardouio7@gmail.com 
          </a></small>