<form action="{{ rute_url }}producto/validar/" method="post">
   <div class="row">
      <div class="col-lg-5">
         <div class="form-group">
            <label>Nombre</label>
            <input
               class="form-control" 
               type="text"
               required="true"
               maxlength="70"
               name="nombre"
               id="nombre"
               autofocus="true"
               >
         </div>
      </div>
      <div class="col-lg-3">
         <div class="form-group">
            <label>Cod Contable</label>
            <input
               class="form-control"
               placeholder="00000000000000000000"
               type="text"
               required="true"
               maxlength="20"
               name="cod_contable"
               >
         </div>
      </div>
      <div class="col-lg-4">
         <div class="form-group">
            <label>Cod ICE</label>
            <input
               class="form-control"
               type="text"
               placeholder="0000-00-000000-000-000000-00-000-000000"
               required="true"
               maxlength="39"
               name="cod_ice"
               id="cod_ice"
               >
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6">
         <div class="form-group">
            <label>Proveedor</label>
            <select
               name="identificacion_proveedor"
               required = "true"
               class="form-control"
               required="true"
               >
               <option selected="true" disabled ="true" >Seleccione...</option>
               {% for supplier in suppliers %}
                  <option value="{{supplier.identificacion_proveedor}}" >
                     {{ supplier.nombre }}
                   </option>
               {% endfor %}
            </select>
         </div>
      </div>
      <div class="col-lg-2">
         <div class="form-group">
            <label>Unds (x Caja)</label>
            <input
               class="form-control"
               type="number"
               step="1"
               required="true"
               name="cantidad_x_caja"
               >
         </div>
      </div>
      <div class="col-lg-2">
         <div class="form-group">
            <label>Capacidad (ml)</label>
            <input
               class="form-control"
               required="true"
               type="number"
               name="capacidad_ml"
               >
         </div>
      </div>
      <div class="col-lg-2">
         <div class="form-group">
            <label>Grado Alcohólico ()</label>
            <input
               class="form-control"
               required="true"
               type="number"
               step="0.01"
               name="grado_alcoholico">
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-2">
         <div class="form-group">
            <label>Estado</label>
            <select
               class="form-control"
               required="true"
               name="estado"
               >
               <option value="1">ACTIVO</option>
               <option value="0">INACTIVO</option>
            </select>
         </div>
      </div>
      <div class="col-lg-2">
         <div class="form-group">
            <label>Tipo Custodia</label>
            <select
               class="form-control"
               name="custodia_doble"
               >
               <option value="0">NORMAL</option>
               <option value="1">DOBLE</option>
            </select>
         </div>
      </div>
      <div class="col-lg-2">
      	<div class="form-group">
      		<label>Valor Caja</label>
      		<input 
            type="number" 
            step="0.001" 
      		name="costo_unidad"
      		required="true" 
            class="form-control"
      		>
      	</div>
      </div>
      <div class="col-lg-6">
         <div class="form-group">
            <label>Comentarios</label>
            <textarea
               class="form-control"
               maxlength="120"
               name= "comentarios"
               id= "comentarios"
               rows="2"></textarea>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
         <button type="submit" class="btn btn-default btn-sm">
         <span class="fa fa-save fa-fw"></span>
         Guardar Registro</button>
         <a href="{{rute_url}}producto/listar" class="btn btn-default btn-sm"> 
               <span class="fa fa-arrow-left fa-fw"></span>
            Volver Lista Productos
         </a>
      </div>
   </div>
</form>
<script type="text/javascript">
   $('#nombre').keyup(function(){
   	this.value = this.value.toUpperCase();
   })
   
   $('#comentarios').keyup(function(){
   this.value = this.value.toUpperCase();
   });
   
</script>