<div class="header">
{{ report_title }}
</div>
<br />
Información de Pedido
<table>
<tr>
	<td><strong>Concepto</strong></td>
	<td><strong>Valor</strong></td>
</tr>
<tr>
	<td><strong>Pedido</strong></td>
	<td>199-18</td>
</tr>
<tr>
	<td><strong>Pedido</strong></td>
	<td>199-18</td>
</tr>
<tr>
	<td><strong>Pedido</strong></td>
	<td>199-18</td>
</tr>
<tr>
	<td><strong>Pedido</strong></td>
	<td>199-18</td>
</tr>
<tr>
	<td><strong>Pedido</strong></td>
	<td>199-18</td>
</tr>
<tr>
	<td><strong>Pedido</strong></td>
	<td>199-18</td>
</tr>
<tr>
	<td><strong>Pedido</strong></td>
	<td>199-18</td>
</tr>
<tr>
	<td><strong>Pedido</strong></td>
	<td>199-18</td>
</tr>
</table>
<br />
<table>
<th>
</th>
</table>