<br>
<nav class="navbar navbar-default title-{{controller}}">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{titleContent}} <span class="fa {{iconTitle}} fa-fw pull-right"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="color: #fff">
        <li class="active"><a href="#"><span class="fa fa-list fa-fw"></span> Listar Pedidos <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><span class="fa fa-file fa-fw"></span> Nuevo Pedido</a></li>
        <li><a href="#"><span class="fa fa-money fa-fw"></span> Registrar Gasto</a></li>
      </ul>
    </div>
  </div>
</nav>
