<form >
	<div class="row">
		<div class="col-md-2">
			<div class="form-group">
				<label>Nro Pedido</label>
				<input 
				class="form-control" 
				type="text"
				required="true"
				name="nro_pedido"
				ng-model ="pedido.nro_pedido"
				placeholder="0000-00" 
				maxlength="6" 
				minlength="6" 
				>
			</div>
		</div>

		<div class="col-md-2">
			<div class="form-group">
				<label>Régimen</label>
				<select
				class="form-control" 
				required="true" 
				name="regimen"
				ng-model="pedido.regimen"
				>
				<option value="" disabled selected>Seleccione ...</option>
				<option value="70">Régimen 70</option>
				<option value="10">Régimen 10</option>
				</select>
			</div>
		</div>
	
   	<div class="col-md-2">
			<div class="form-group">
				<label>Seguro Aduana</label>
				<input 
				class="form-control" 
				type="number"
				step="0.01" 
				placeholder="0.00" 
				required="true"
				name="seguro_aduana"
				ng-model ="pedido.seguro_aduana"
				>
			</div>
		</div>

		<div class="col-md-2">
			<div class="form-group">
				<label>Gst Origen</label>
				<input 
				class="form-control" 
				type="number"
				required="true"
				step="0.01" 
				placeholder="0.00" 
				name="antes_fob"
				ng-model ="pedido.antes_fob"
				>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label>Flete Aduana</label>
				<input 
				class="form-control" 
				type="number"
				required="true"
				step="0.01" 
				placeholder="0.00" 
				name="flete_aduana"
				ng-model = "pedido.flete_aduana"
				>
				<input 
         type="hidden" 
         name="pedido.id_user"
         ng-model="pedido.id_user"
         value="{[pedido.id_user]}">
			</div>
		</div>

		<div class="col-md-2">
			<label>Incoterm</label>
			<button 
			data-toggle="modal" 
			data-target="#myModal" 
			type="button" 
			class="btn btn-info" 
			ng-click="getIncoterms()">
				<span class="fa fa-plus fa-fw"> </span>
			</button>
		</div>
</div>


   <div class="row">
      <div class="col-md-12">
      	<hr>
         <button type="submit" class="btn btn-primary">
         <span class="fa fa-save fa-fw"></span>
         Guardar Registro</button>
         <button type="reset" class="btn btn-secondary">
         <span class="fa fa-refresh fa-fw"></span>
         Limpiar Formulario</button>
       </div>
   </div>
 </div>
</form>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Seleccione un Incoterm</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="btn btn-danger">X</span>
        </button>
      </div>
      <div class="modal-body">
       	<form>
       <div class="row">
       	<div class="col-sm-12">
       			<div class="form-group">
						<label>Seleccione un Incoterm</label>
						<select
						class="form-control" 
						required="true" 
						ng-model = "incotermName"
						ng-change = "getIncotermsCountries(incotermName)"
						>
						<option value="" disabled selected>Seleccione ...</option>
						<option 
						ng-repeat = "(key, value) in incoterms.incoterm" 
						value="{{value.incoterms}}">
						{{value.incoterms}}
						</option>
						</select>
					</div>
       </div>
       </div>

       <div class="row">
       	<div class="col-sm-12">
       			<div class="form-group">
						<label>Pais de Origen</label>
						<select
						class="form-control" 
						required="true" 
						ng-model = "country"
						ng-change ="getIncotermsCities(incotermName, country)"
						>
						<option value="" disabled selected>Seleccione ...</option>
						<option ng-repeat = "(key, value) in incoterms.countries" value="{{value.pais}}">{{value.pais}}</option>
						</select>
					</div>
       </div>
       </div>
        <div class="row">
       	<div class="col-sm-12">
       			<div class="form-group">
						<label>Ciudad de Origen</label>
						<select
						class="form-control" 
						required="true"
						ng-model = "city"
						ng-change = "getIncotermParam(incotermName ,country, city)"
						>
						<option value="" disabled selected>Seleccione ...</option>
						<option ng-repeat = "(key, value) in incoterms.cities" value="{{value.ciudad}}">{{value.ciudad}}</option>
						</select>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<table class="table table-condensed table-hover table-condensed">
								<thead>
									<tr>
										<th>id</th>
										<th>tipo</th>
										<th>tarifa</th>
										<th>comentarios</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "(key, value) in incoterms.param">
										<td>{{value.id_incoterm}}</td>
										<td>{{value.tipo}}</td>
										<td>{{value.tarifa | currency }}</td>
										<td>{{value.comentarios}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<button type="button" class="btn btn-primary" style="width: 100%">Aplicar</button>
						</div>
					</div>
       </div>
       </div>
       	</form>
      </div>
    </div>
  </div>
</div>
