<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="">Pedido &nbsp;<span class="label label-success">
     {{viewData.pedido[0].estado_pedido}}
  </span></a></li>
  <li role="presentation"><a href="#/facturas-pedido/{{viewData.pedido[0].nro_pedido}}">Facturas Productos</a></li>
  <li role="presentation"><a href="#/gastos-iniciales-pedido/{{viewData.pedido[0].nro_pedido}}">Gastos Iniciales</a></li>
  <li role="presentation"><a href="#/nacionalizaciones-pedido/{{viewData.pedido[0].nro_pedido}}">Nacionalizaciones</a></li>
  <li role="presentation"><a href="#/impuestos-pedido/{{viewData.pedido[0].nro_pedido}}">Impuestos</a></li>
  <li role="presentation"><a href="#/facturas-pedido/{{viewData.pedido[0].nro_pedido}}">Facturas Servicios</a></li>
</ul>
<br>
<!--tabPedido-->
<div class="pedido">
<div class="well well-sm">
<div class="row">
   <div class="col-sm-3">
      <strong>Saldo:</strong> <span class="text-success"> {{ (119150.10 - 2541.08) |currency }}</span>
   </div>
   <div class="col-sm-3">
      <strong>Parciales:</strong> <span class="text-danger">{{2541.08| currency}}</span>
   </div>
   <div class="col-sm-3">
      <strong>Compra:</strong> <span class="text-info">{{119150.10 | currency }}</span>
   </div>
   <div class="col-sm-3">
      <span class="label label-default">{{viewData.pedido[0].date_create}}</span>
      <span class="label label-warning">{{viewData.pedido[0].last_update}}</span>
   </div>
</div>
<div class="row">
   <div class="col-sm-3">
      <strong>Moneda:</strong> <span>EUROS</span>
   </div>
   <div class="col-sm-3">
      <strong>Tipo de Cambio:</strong> <span>{{1.42 | number}}</span>
   </div>
   <div class="col-sm-3">
      <strong>provisiones:</strong> <span class="text-danger">{{2541.08| currency}}</span>
   </div>
   <div class="col-sm-3">
      <strong>Creado Por:</strong> <span>{{viewData.helper.userInfo.nombres}}</span>
   </div>
</div>
</div>
   <div class="row">
      <div class="col-md-2">
         <div class="input-group">
            <span class="input-group-addon" >PEDIDO</span>
            <span class="form-control">{{viewData.pedido[0].nro_pedido}} </span>
         </div>
      </div>

      <div class="col-md-2">
         <div class="input-group">
            <span class="input-group-addon">RÉGIMEN</span>
            <span class="form-control">{{viewData.pedido[0].regimen}} </span>
         </div>
      </div>

      <div class="col-md-2">
            <div class="input-group">
            <span class="input-group-addon">INCOTERM</span>
            <span class="form-control">{{viewData.pedido[0].incoterm}} </span>
         </div>
      </div>
      <div class="col-md-3">
         <div class="input-group">
         <span class="input-group-addon">PAIS</span>
         <span class="form-control"> {{viewData.pedido[0].pais_origen}}</span>
      </div>
      </div>
      <div class="col-md-3">
            <div class="input-group">
            <span class="input-group-addon">CIUDAD</span>
            <span class="form-control">{{viewData.pedido[0].ciudad_origen}}</span>
         </div>
    </div>
</div>
<br>
<div class="row">
      <div class="col-md-3">
         <div class="input-group">
            <span class="input-group-addon">SEGURO SENAE</span>
            <span class="form-control"> {{viewData.pedido[0].seguro_aduana | currency}}</span>
         </div>
      </div>
      <div class="col-md-3">
         <div class="input-group">
            <span class="input-group-addon">FLETE SENAE</span>
            <span class="form-control" > {{viewData.pedido[0].flete_aduana | currency}} </span>
         </div>
      </div>
      <div class="col-md-3">
         <div class="input-group">
            <span class="input-group-addon">ARRIBO</span>
            <span class="form-control" > {{viewData.pedido[0].fecha_arribo | date }} </span>
         </div>
      </div>
</div>
<br>
   <div class="row">
      <div class="col-md-12">
         <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">COMENTARIOS</span>
            <span type="text" class="form-control">{{viewData.pedido[0].comentarios}} </span>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <hr>
         <button type="submit" class="btn btn-primary">
         <span class="fa fa-pencil fa-fw"></span>
         Ediar</button>
         <button type="reset" class="btn btn-danger">
         <span class="fa fa-trash fa-fw"></span>
         Elimnar</button>
       </div>
   </div>
 </div>
<!--tabPedido-->
