<div class="row">
   <div class="col-sm-1">&nbsp;</div>
   <div class="col-sm-3">
      <span class="fa fa-warning fa-fw fa-5x"></span>    
   </div>
   <div class="col-sm-8">
      <p class="text-success">
         <b>NO SE PUEDE REALIZAR CAMBIOS</b>
         <br>
         ESTE PEDIDO TIENE LAS PROVICIONES INICIALES FINALIZADAS Y CERRADAS.
      </p>
      <p>
         <small>
         En Caso de requerir realizar cambios en este registro por favor comuníquese con el departamento de sistemas 
         <br>
         <strong>
         Tipo Solicitud:
         </strong>
         Gastos Iniciales  <strong>Código:</strong> 
         <span class="text-primary">bg_haveExpenses</span>
         </small>
      </p>