<div class="row" style="background-color: #eee; padding: 5px; border-radius: 5px;>
   <form  action="" method="get">
   <div class="col-md-1">
   	<strong clas="pull-right">Producto:</strong>
   </div>
      <div class="col-md-5">
         <div class="form-group"  style="width: 100%">
            <input type="text" class="form-control"/>
         </div>         
      </div>
      <div class="col-md-1">
         <button type="submit" class="btn btn-primary btn-sm pull-left"> <span class="fa fa-search"></span></button>
      </div>
   </form>
</div>
<hr />
<h4 class="text-primary"> NOMBRE DEL PRODUCTO QUE SE ESTA BUSCANDO</h4>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<div class="text-tittle"> (A) En tránsito (Sin fecha de arribo) </div>
<table class="table table-hover table-condensed table-striped table-bordered">
<thead>
	<tr>
	<th>Pedido</th>
	<th>Régimen</th>
	<th>FOB</th>
	<th>CIF</th>
	<th>Cajas</th>
	<th>Unidades</th>
	</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<div class="text-tittle"> (A) En tránsito (Sin fecha de arribo) </div>
<table class="table table-hover table-condensed table-striped table-bordered">
<thead>
	<tr>
	<th>Pedido</th>
	<th>Régimen</th>
	<th>FOB</th>
	<th>CIF</th>
	<th>Cajas</th>
	<th>Unidades</th>
	</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<div class="text-tittle"> (A) En tránsito (Sin fecha de arribo) </div>
<table class="table table-hover table-condensed table-striped table-bordered">
<thead>
	<tr>
	<th>Pedido</th>
	<th>Régimen</th>
	<th>FOB</th>
	<th>CIF</th>
	<th>Cajas</th>
	<th>Unidades</th>
	</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<hr />
<table class="table table-hover table-condensed table-striped table-bordered">
<tr>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
</table>
</div>
</div>