<div class="row">
	<div class="col-sm-3">
{% if order.bg_isclosed == 0 %}
		<a href="{{ rute_url }}nacionalizacion/validar/{{ order.nro_pedido }}">
			<button type="button" class="btn btn-primary btn-sm">
				<span class="fa fa-gear"></span> Nacionalizar Pedido
			</button>
		</a> <br> <br>
	</div>
</div>
{% else %}

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-3">&nbsp;</div>
	<div class="col-sm-2">
		<h5 class="text-primary">
			<small>Parciales:</small> <span id="suma"> {{ 0 | number_format(0, '.', ',') }}
			</span>
		</h5>
	</div>
	<div class="col-sm-2">
		<h5 class="text-primary">
			<small>Sumas:</small> <span id="suma"> $ {{ 0 | number_format(2, '.', ',') }}</span>
		</h5>
	</div>
	<div class="col-sm-2">
		<h5 class="text-danger">
			<small>Saldo:</small> <span id="suma"> $ {{ saldo | number_format(2, '.', ',') }}
			</span>
		</h5>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h1>Implemenrtar Esto</h1>
	</div>
</div>
{% endif %}